Resources:
  AWSEBLoadBalancerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SecurityGroup settings for eb environment.
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "80", ToPort: "80"}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "443", ToPort: "443"}
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SecurityGroup settings for eb environment.
      SecurityGroupIngress:
        - {CidrIp: "10.0.0.0/16", IpProtocol: "tcp", FromPort: "80", ToPort: "80"}

option_settings:
  aws:ec2:vpc:
    VPCId: vpc-~~~~
    Subnets: subnet-~~~~,subnet-~~~~
    ELBSubnets: subnet-~~~~,subnet-~~~~
    AssociatePublicIpAddress: true

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1

  aws:autoscaling:launchconfiguration:
    EC2KeyName: ~~~~-eval
    SSHSourceRestriction: tcp, 22, 22, 221.249.116.206/32
