files:
  "/tmp/elasticbeanstalk-nginx-docker-upstream.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream docker {
        server 172.17.0.2:8081;
        keepalive 256;
      }

  "/tmp/elasticbeanstalk-nginx-docker-proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      map $http_upgrade $connection_upgrade {
        default        "upgrade";
        ""            "";
      }

      log_format fmt '$msec"$uri"'
          '$status"$request_time"$upstream_response_time"'
          '$http_x_forwarded_for';

      server {
        listen 80;
        client_max_body_size 12m;

        gzip on;
        gzip_comp_level 4;
        gzip_types text/html text/plain text/css application/json application/x-javascript application/xml application/xml+rss text/javascript;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log    /var/log/nginx/healthd/application.log.$year-$month-$day-$hour fmt;

        access_log    /var/log/nginx/access.log;

        location / {
          add_header Access-Control-Allow-Origin "*" always;
          add_header Access-Control-Allow-Methods "GET,POST,PUT,PATCH,DELETE,OPTIONS" always;
          add_header Access-Control-Allow-Headers  "X-TenantId,Authorization,Content-Type" always;
          proxy_set_header X-Forwarded-Host $host;
          proxy_set_header X-Forwarded-Server $host;
          proxy_set_header X-Forwarded-For $remote_addr;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header Host $http_host;

          proxy_pass http://docker;
        }
      }

container_commands:
  00-add-upstream-config:
    command: cp -f /tmp/elasticbeanstalk-nginx-docker-upstream.conf /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf
  01-add-proxy-config:
    command: cp -f /tmp/elasticbeanstalk-nginx-docker-proxy.conf /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf
  02-restart-nginx:
    command: /sbin/service nginx restart
